#opisanie{
    color:#8B0000;
}
#opis{
    color:#8B0000;
    background-color: #1e7e34;
}
p{
    color:#8B0000;

}
#shit{
    color:#8B0000;
}
#whom{
    background-color:#4e555b;
}
#for_whom{
    margin-left: 200px;
}
